body {
    background-color: #141414;
}

#can {
    border:1px solid #141414;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
}

input[type="text"] {
    border: none;
    border-bottom: solid 2px #c9c9c9;
    background: none;
    font-size: 14px;
    font-family: Impact, Charcoal, sans-serif;
}

input[type="text"]:focus,
input[type="text"].focus {
    border-bottom: solid 2px #969696;
}

#Pergunta {
    width: 180px;
}